.experience {
    width: 75%;
    margin: 0 auto;
}

.graph-wrapper {
    width: 100%;
    height: 100%;
}

.graph-bar-wrapper {
    height: 100%;
    width: 90%;
}

.graph-bar-title-wrapper {
    height: 100%;
    width: 10%;
}

.bar-entry {
    height: 50px;
    color: white;
}

.bar-title {
    width: 10%;
    height: 50px;
}

.bar-wrapper {
    width: 100%;
    display: flex;
    cursor: pointer;
    background-color: #dddddd;
}

.bar-wrapper:hover {
    background-color: #c5c5c5;
}

.bar-wrapper:last-child {
    border-bottom: none;
}

#java {
    background-color: #5382a1;
    width: 85%;
}

#kotlin {
    background-color: #4a679a;
    width: 35%;
}

#csharp {
    background-color: #9b4f96;
    width: 15%;
}

#web {
    background-color: #e54f27;
    width: 75%;
}

#python {
    background-color: #ffe66d;
    width: 10%;
    color: #464646;
}

.bar-language-wrapper {
    background-color: #383838;
    /*height: 20px;*/
    width: 100%;
    margin-bottom: 5px;
    color: white;
}

.bar-language-wrapper > p {
    margin: 0;
    padding: 10px;
}