body, html {
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: Ubuntu;
    background-color: #f2f2f2;
    color: #464646;
}

a {
    color: #464646;
}

.centerHoriz {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

#introduction, #programming, #experience {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 60px;
    font-size: 200%;
}

footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 7px 16px #000000;
}

footer > p {
    font-style: italic;
    font-size: 75%;
    margin: 0;
    padding: 30px;
}

footer > p:last-child {
    padding-right: 60px;
}

#header-link {
    text-decoration: none;
    font-weight: 100;
}

#header-link > h1 {
    font-weight: 100;
}