@tailwind base
@tailwind components
@tailwind utilities

@font-face
  font-family: 'Geogrotesque'
  src: local('Ubuntu'), local('Geogrotesque'), url("/font.otf") format("opentype")

html, body
  padding: 0
  margin: 0
  font-family: 'Geogrotesque'
  @apply bg-gray-100

h1
  @apply text-5xl

h2
  @apply text-4xl

h3
  @apply text-3xl